---
import Logo from '../assets/svgs/logo-vertical.svg';
import LogoMin from '../assets/svgs/logo-symbol-green.svg';

const { lang, title, description } = Astro.props;

const props = {
  lang: lang ?? 'en',
  title: title ?? 'Guilherme Battoni | Web Developer',
  description: description ?? getDescription(),
};

function getDescription() {
  return lang !== 'pt-BR'
    ? 'Are you looking for an experienced and skilled senior web developer? Well, your search is over! Click to connect with me!'
    : 'Procurando por um desenvolvedor web sênior experiente para fazer parte dos seus projetos? Sua busca acaba de se encerrar. Clique aqui para entrar em contato!';
}
---

<html lang={props.lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{props.title}</title>
    <meta name="title" content={props.title} />
    <meta name="description" content={props.description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://guilherme.battoni.dev" />
    <meta property="og:title" content={props.title} />
    <meta property="og:description" content={props.description} />
    <meta
      property="og:image"
      content="https://guilherme.battoni.dev/guilherme-battoni-share-thumb.png"
    />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://guilherme.battoni.dev" />
    <meta property="twitter:title" content={props.title} />
    <meta property="twitter:description" content={props.description} />
    <meta
      property="twitter:image"
      content="https://guilherme.battoni.dev/guilherme-battoni-share-thumb.png"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="body bg-green text-black text-mono">
    <img class="logo" src={Logo.src} />

    <img class="logo-min" src={LogoMin.src} />

    <ul class="languages">
      <li>
        <a class:list={['link', { 'is-active': props.lang === 'en' }]} href="/"
          >English</a
        >
      </li>
      <li>
        <span class="link">|</span>
      </li>
      <li>
        <a
          class:list={['link', { 'is-active': props.lang === 'pt-BR' }]}
          href="pt-br">Português</a
        >
      </li>
    </ul>

    <slot />
  </body>
</html>

<style>
  .logo {
    padding: 40px;
    padding-top: 100px;
    width: 200px;
  }

  .logo-min {
    bottom: 40px;
    position: fixed;
    right: 40px;
    width: 40px;
  }

  .languages {
    display: flex;
    font-size: 0.8rem;
    gap: 10px;
    list-style-type: none;
    position: fixed;
    top: 40px;
    right: 40px;
  }

  .link {
    color: #141413;
    font-weight: 600;
    text-decoration: none;
  }

  .link.is-active {
    color: #fafafa;
  }

  @media (min-width: 768px) {
    .logo {
      padding-top: 40px;
      width: 300px;
    }

    .languages {
      font-size: 0.9rem;
      gap: 20px;
    }
  }

  @media (max-height: 440px) {
    .logo-min {
      bottom: 30px;
    }
  }
</style>

<style is:global>
  * {
    margin: 0;
  }
  .bg-green {
    background-color: #c0e021;
  }

  .text-green {
    color: #c0e021;
  }

  .bg-black {
    background-color: #141413;
  }

  .text-black {
    color: #141413;
  }

  .text-grotesk {
    font-family: 'Space Grotesk', sans-serif;
  }

  .text-mono {
    font-family: 'Roboto Mono', monospace;
  }
</style>
